.main-box {
    position: relative;
    top: 50%;
    left: 25%;
    width: 800px;
}

.td-name p{
    text-align: center;
}
.main-box [input] {

}
.translit-button {
    margin-left: 40.5%;
}
.cpToCpBoard {

    text-align:center;
}

::placeholder {
    text-align: center;
}